/* .SigninFrom input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.SigninFrom input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.SigninFrom input[type=submit]:hover {
    background-color: #45a049;
}

.SigninFrom div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.Form {
    margin: 12px 12px 0 12px;
}

.SigninFrom h3 {
    margin: 12px;
}

.FormErrors {
    margin: 12px;
    text-align: center;
} */


/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.Login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.LoginHeader,
.Login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.LoginTriangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #0079bf;
}

.LoginHeader {
  background: #0079bf;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.LoginContainer {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.Login p {
  padding: 12px;
}

.Login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.Login input[type="email"],
.Login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.Login input[type="email"]:focus,
.Login input[type="password"]:focus {
  border-color: #888;
}

.Login input[type="submit"] {
  background: #0079bf;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.Login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.Login input[type="submit"]:focus {
  border-color: #05a;
}